services:
   rules:
    build:
      context: .
      args:
        VARIANT: "11-buster"
        INSTALL_MAVEN: "true"
        INSTALL_GRADLE: "true"
        INSTALL_GRAALVM: "true"
        GRAALVM_VERSION: "22.1.0"
        NODE_VERSION: "16"
    working_dir: /workspaces
    network_mode: bridge
    entrypoint: bash
    command:
      - -c
      - |
        tail -f /dev/null
    volumes:
      - ../:/workspaces
      - ../.m2:/home/vscode/.m2
